<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appdev.gallery.lib">

    <application>
        <activity android:name=".GalleryActivity" />
        <activity android:name=".GalleryPreviewActivity"></activity>
    </application>

</manifest>